@font-face {
    font-family: "Font";
    src: url("Existence-Light.otf");
}


body {
	width: 75%;
	min-width: 880px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Font", arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: white;
	/*background-attachment: fixed;
	background-image: url("img/Clemens Anzmann background.jpg");
	background-repeat: no-repeat;*/
	background-color: #333333;
	border: none;
	text-align: center;
}

a img { border:0 }

.content { }

#header { 
	font-size: 50px;
	padding-top: 25px;
}

#Me p {
	text-align: justify;
	padding-bottom: 15px;
}

#Me img {
	border-radius: 5px;
	border: 1px solid gray;
}

#Contact, #Media { 
	padding: 25px;
	margin: auto;
	display: table;
    width: 75%;
}

#Contact a, #Media a {
	display: table-cell;
    width: 16.666666667%;
    line-height: 87px;
    text-align: center;
}

#Life {}

#footer {
	
}

