a:link {color:#000;}
a:visited {color:#000;}  
a:hover {color:#000;} 
a:active {color:#000;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a img { border:0 }

@font-face {
    font-family: "Font";
    src: url("Existence-Light.otf");
}


body {
	width: 75%;
	min-width: 880px;
	margin-right: auto;
	margin-left: auto;
	font-family: "Font", arial, sans-serif;
	font-size: 20px;
	font-weight: normal;
	background-attachment: fixed;
	background-image: url("img/Clemens Anzmann background.jpg");
	background-repeat: no-repeat;
	border: none;
	text-align: center;
}

.content {
	margin: auto;
}

#Me {}

#Contact { 
	padding: 55px;
	margin: auto;
	display: table;
    width: 75%;
}

#Contact a {
	display: table-cell;
    width: 16.666666667%;
    line-height: 87px;
    text-align: center;
}

#Life {}

