@font-face {
    font-family: "Ubuntu";
    src: url("UbuntuMono-R.ttf");
}

@font-face {
    font-family: "Header";
    src: url("BPdotsMinusBold.otf");
}

body {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: "Ubuntu", arial, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    color: white;
    background-color: RGB(68, 68, 68);
    border: none;
}

a:link {
    color: #08C;
}
a:visited {
    color: #08C;
}
a:hover {
    color: #08C;
}
a:active {
    color: #08C;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a img {
    border: 0
}

hr {
    opacity: 0.5;
}

.content, #innercontent {
    min-width: 355px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.content {
    width: 95%;
    z-index: 1;
}

#innercontent {
    opacity: 0.0;
    transition: opacity 3s;
    width: 75%;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.33);
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

#header {
    font-family: "Header", arial, sans-serif;
    font-size: 60px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#me,
#contact,
#media,
#life {
    display: table;
    width: 95%;
    margin-bottom: 15px;
}

#life div, .content p {
    text-align: left;
    margin-left: 20px;
    min-width: 302px;
}

#bio {
    text-align: justify;
    margin: 10px;
    min-width: 302px;
    padding: 10px;
    display: inline-block;
}

#me img {
    margin-top: 15px;
    margin: 10px;
    float:left;
    border-radius: 5px;
    border: 1px solid gray;
}

#contact a,
#life a,
#media a {
    display: table-cell;
    width: 16.666666667%;
    line-height: 87px;
    text-align: center;
}

#life iframe {
    margin: 10px;
    width: 94%;
    height: 484px;
    border-radius: 5px;
    border: 1px solid gray;
}

#particles-js{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}


#footer {
    margin-top: 0px;
    opacity: 0.0;
    transition: opacity 3s;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    font-style: italic;
}

#footer-point-expl, #footer-line-expl, #footer-data {
    display: none;
    opacity: 0.0;
    transition: opacity 3s;
}

#linechart {
    position: fixed;
    top: 50px;
    left: 0px;
}

.line {
  fill: none;
  stroke: white;
  stroke-dasharray: 2, 5;
  stroke-width: 2px;
}
