@font-face {
    font-family: "Font";
    src: url("Existence-Light.otf");
}

body {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: "Font", arial, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    color: white;
    background-color: RGB(68, 68, 68);
    border: none;
}

a:link {
    color: #08C;
}
a:visited {
    color: #08C;
}
a:hover {
    color: #08C;
}
a:active {
    color: #08C;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a img {
    border: 0
}

.content {
    width: 95%;
    min-width: 355px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    opacity: 0.0;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    z-index: 1;
}

#innercontent {
    width: 75%;
    min-width: 355px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    padding-bottom: 5px;
}

#header {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    font-size: 30px;
    padding-top: 25px;
}

#Me,
#Contact,
#Media,
#Life {
    display: table;
    width: 95%;
    margin-bottom: 15px;
}

#Life div {
    text-align: left;
    margin-left: 20px;
    min-width: 302px;
}

#bio {
    text-align: justify;
    margin: 10px;
    min-width: 302px;
    padding: 10px;
    display: inline-block;
}

#biotext {
    margin: 10px;
}

#Me img {
    margin-top: 15px;
    margin: 10px;
    float:left;
    border-radius: 5px;
    border: 1px solid gray;
}

#Contact a,
#Life a,
#Media a {
    display: table-cell;
    width: 16.666666667%;
    line-height: 87px;
    text-align: center;
}

#Life iframe {
    margin: 10px;
    width: 94%;
    height: 484px;
    border-radius: 5px;
    border: 1px solid gray;
}

#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

#footer-text {
  font-size: 12px;
  font-style: italic;
  visibility: hidden;
}
