@font-face {
    font-family: "Font";
    src: url("Existence-Light.otf");
}

body {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: "Font", arial, sans-serif;
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    color: white;
    text-shadow: 5px 0px 5px black;
    background-color: RGB(68, 68, 68);
    border: none;
}

a:link {
    color: #08C;
}
a:visited {
    color: #08C;
}
a:hover {
    color: #08C;
}
a:active {
    color: #08C;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a img {
    border: 0
}

hr {
    opacity: 0.5;
}

.content {
    width: 95%;
    min-width: 355px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    opacity: 0.0;
    -webkit-transition: opacity 3s;
    transition: opacity 3s;
    z-index: 1;
}

#innercontent {
    width: 75%;
    min-width: 355px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 10px;
    position: relative;
    padding-bottom: 5px;
    border: 3px solid rgba(255, 255, 255, 0.5);
}

#header {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    font-size: 30px;
    padding-top: 25px;
}

#me,
#contact,
#media,
#life {
    display: table;
    width: 95%;
    margin-bottom: 15px;
}

#life div, .content p {
    text-align: left;
    margin-left: 20px;
    min-width: 302px;
}

#bio {
    text-align: justify;
    margin: 10px;
    min-width: 302px;
    padding: 10px;
    display: inline-block;
}

#biotext {
    margin: 10px;
}

#me img {
    margin-top: 15px;
    margin: 10px;
    float:left;
    border-radius: 5px;
    border: 1px solid gray;
}

#contact a,
#life a,
#media a {
    display: table-cell;
    width: 16.666666667%;
    line-height: 87px;
    text-align: center;
}

#life iframe {
    margin: 10px;
    width: 94%;
    height: 484px;
    border-radius: 5px;
    border: 1px solid gray;
}

#particles-js{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}


#footer {
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer-text {
  font-size: 14px;
  font-style: italic;
  display: none;
}

#barchart {
  position: fixed;
  top: 50px;
}

.line {
  fill: none;
  stroke: white;
  stroke-dasharray: 2, 5;
  stroke-width: 2px;
}
